*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}
/* 
@font-face {
  font-family: 'YourCustomFont';
  src: url('/fonts/woff.woff2') format('woff2');
  font-display: swap;
} */


body {
  font-family: 'YourCustomFont', sans-serif;
}

/* Atkinson Hyperlegible Next Example */
.atkinson-hyperlegible-next {
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 400;  /* Regular weight */
  font-style: normal;
}

body{
  font-family: "Mirza", serif;

  color: var(--font-light-color);
  width: 100%;
 
}


:root{
  --primary-color: #065a60;
  --primary-color-light: #5c8778;
  --primary-color-dark: #2b3a35;
  --secondary-color: white;
  --background-dark-color:  black;
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --white-color: #FFF;
  --font-light-color:  white;
  --font-dark-color:  darkgrey;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191d2b;
  --scrollbar-bg-color: #383838;
  --scrollbar-thump-color: #6b6b6b;
  --scrollbar-track-color: #383838;


  --xs-xs : .2rem:
  --xs-sm : .4rem;
  --xs-md : 6rem;
  --xs-lg : 8rem;
  --xs-xl : 1rem;

   --mob-xs : .4rem:
   --mob-sm : .6rem;
   --mob-md : .8rem;
   --mob-lg : 1rem;
   --mob-xl : 1.2rem;



   --med-xs : .6rem;
   --med-sm : .8rem;
   --med-md : 1rem;
   --med-lg : 1.2rem;
   --med-xl : 1.4rem;
   

   --big-xs : .8rem;
   --big-sm : 1rem;
    --big-md : 1.2rem;
   --big-lg : 1.4rem;
    --big-xl : 1.6rem;



}


